/* Places flexbox style */
.container .places {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
}

.places h1 {
        font-size: 30px;
        width: 20%;
        margin-left: 20px;
}

/* Aligns h1 as screen gets smaller */
@media only screen and (max-width: 900px) {
          .places h1 {
            width: 90%;
        }
}

.places article {
        width: 390px;
        padding: 20px;
        margin: 20px;
        border: 1px solid #FF5A5F;
        border-radius: 4px;
        text-align: center;
        align-items: flex-start;
}

.places article h2 {
        font-size: 30px;
        margin: 0 auto;
}

.price_by_night {
        color: #FF5A5F;
        min-width: 60px;
        height: 60px;
        font-size: 30px;
        border: 4px solid #FF5A5F;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
}

.information {
        height: 80px;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        display: flex;
        justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
}

.max_guest {
        background-image: url('../images/icon_group.png');
}

.number_rooms {
        background-image: url('../images/icon_bed.png');
}

.number_bathrooms {
        background-image: url('../images/icon_bath.png');
}

.max_guest h4, .number_rooms h4, .number_bathrooms h4 {
        margin: 6px;
}

.user {
        margin: 20px auto 20px auto;
}

.description {
        text-align: left;
}
